.modal {
    font-size: 12px;
}

.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.content {
    width: 100%;
    padding: 10px 5px;
}

.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.btn-full {
    width: 100%;
}

.h3-post-details {
    text-align: center;
    margin-top: 10px;
}

.add-new-hr {
    size: 10px;
}

.popup-class {
    border-radius: 10px;
    padding: 20px;
}